*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    background-color: black;
}

.body-pokemon{
    display: flex;
    flex-wrap: wrap;

    width:98%;
    padding:1%;
    background-color: violet;
}

.box-pokemon{
    width: 30%;
    height: 100%;
    margin: 1%;
    background-color: green;

}

.box-pokemon a{
    width:100%;
    height:100%;
}
.box-pokemon {
    
}
.box-link{
    display: flex;
    flex-wrap: wrap;
}

#caja-1{
    width: 100%;
    height:25%;
    background-color: black
}
#caja-2{
    width: 50%;
    height: 25%;
    background-color:red;
}
#caja-3{
    width: 50%;
    height:25%;
    background-color:blue;
}

.NameIdZone {
    display: flex;
    justify-content: space-between;
}

.ImgZone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgPoke {
    display: flex;
    justify-content: center;
    align-items: center;
}